<div id="loader">
  <div class="wait">
  <p class="text">{{waitphrase}}</p>
    <svg viewBox="0 0 540 120">
      <circle r="10" cx="120" cy="60" stroke="0" fill="var(--color-one)" id="first"></circle>
      <circle r="10" cx="180" cy="60" stroke="0" fill="var(--color-two)"></circle>
      <circle r="10" cx="240" cy="60" stroke="0" fill="var(--color-three)"></circle>
      <circle r="10" cx="300" cy="60" stroke="0" fill="var(--color-four)"></circle>
      <circle r="10" cx="360" cy="60" stroke="0" fill="var(--color-five)"></circle>
      <circle r="10" cx="420" cy="60" stroke="0" fill="var(--color-six)" id="last"></circle>
    </svg>
  </div>
</div>