{% extends "base.njk" %}

{% block bodyattribute %}{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
  {% include "_partials/header.njk" %}

  <main>
    <section class="content">
      {{content | safe}}
    </section>
    <section class="button hide">
      <label class="lookingfor">
        <span>Are you looking for someone ?</span>
        <input type="text" id="search" placeholder="search for names.."></label>
    </section>
    <section class="faces">
      <ul id="participants">


        {% for participant in collections.peopleMD %}
          {# {% if participant.data.accept == true %} #}
            


          <li class="participant active" style="--color-item: var(--color-{{["1","2","3","4","5","6","7"] | random}})">

            

            <figure >
              {% if participant.data.picture == null or participant.data.picture.ext == ".bin" %}
                <p class="letter">{{ participant.data.name | truncate(1)}}</p>
              {% else  %}
                <img src="/images/people/{{participant.data.picture}}">
              {% endif %}

            </figure>

            <h2 class="name">{{participant.data.name}}</h2>
            {% if participant.data.bio != null %}
              <section class="bio">
                {{participant.data.bio | markdownify | safe}}
              </section>
              {% if participant.data.socials %}
                <ul class="socials">
                  {{participant.data.socials | separateServices | safe }}
                </ul>
              {% endif %}
            {% endif %}

            <ul class="social"></ul>

          </li>
          {# {% endif %} #}

        {% endfor %}

      </ul>
    </section>
  </main>
{% endblock %}

{% block scripts %}
  <script type="module" src="/js/attendees.js"></script>
{% endblock %}